.footer-section {
  padding: 10px;
  flex: 1 1 33.3%;
}

.form-item {
  border-radius: 3px;
  padding: 2px 10px;
  margin: 6px 0;
}

.text-area {
  border-radius: 3px;
  padding: 5px 10px;
  height: 50px;
  margin: 10px 0;
}

.button {
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  border: none;
  display: block;
  margin: 0 auto;
  padding: 2px 7px;
}

.copyright {
  font-size: 12px;
  padding: 10px;
  text-align: end;
}

.footer-img {
  margin: 10px 0 ;
  width: 50px;
}

@media (max-width: 1020px){

}

@media (max-width: 920px) {
  .footer-section {
  flex: 1 1 100%;
}

.form-item {
  margin: 5px;
}

.text-area {
  display: block;
  margin: 10px auto;
}

.copyright {
  font-size: 10px;
  padding: 15px;
  text-align: center;
}
}

@media (max-width: 620px){

}
