/* ESTILOS PARA EL HEADER */
.header {
  padding: 20px 0;
}

.header-img {
  max-width: 80px;
}

.header-item {
  cursor: pointer;
  margin-left: 10px;
}

.header-item:hover {
  transform: translateY(-10px);
  transition: all .5s ease-in-out;
}

@media (max-width: 1020px){

}

@media (max-width: 920px) {
}

@media (max-width: 620px) and (orientation: portrait)  {

}