/* ESTILOS PARA EL HEADER */

.header {
  height: 150px;
}

.header-img {
  width: 100px;
}

#header-menu_button,
.header-menu_img {
  display: none;
}

.header-menu_img {
  width: 40px;
}

.header-item {
  margin-left: 10px;
}

@media (max-width:720px) {
#header-menu_button,
.header-menu_img {
  display: block;
}
}