/* ESTILOS DEL HERO */
.hero {
  display: flex;
  padding-bottom: 20px;
}

.hero-img_container {
  padding: 0 10px;
  max-width: 25%;
}

.hero-img {
  max-width: 100%;
}

.section-history_container {
  background-image: url(../img/recetas/cupcake.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.section-history {
  padding: 30px;
  width: 50%;
}

.video-container,
.section-video {
  flex: 1 1 50%;
  padding: 10px;
}

.video {
  width: 100%;
}

@media (max-width: 1020px){

}

@media (max-width: 920px) {
.section-history_container {
  margin: 20px 0;
}
.video-container,
.section-video {
  flex: 1 1 100%;
}

.section-history {
  padding: 10px;
  width: 100%;
}
.video-container {
  width: 100%;
}
}

@media (max-width: 620px) and (orientation: portrait)  {

}
