/* ESTILOS DEL HERO */
.hero {
  display: flex;
  padding-bottom: 20px;
}

.hero-img_container {
  padding: 0 10px;
  max-width: 25%;
}

.hero-img {
  max-width: 100%;
}

.section-recetas_container {
  background-image: url(../img/recetas/cupcake.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 10px;
}

.background {
  background-image: url(../img/tarta.jpeg);
  background-repeat: no-repeat;
  background-position: top ;
  padding: 20px ;
}

.background-tras {
  background-color: rgba(0, 0, 0, .8);
}

.section-video {
   margin-left: 20px;
   padding: 20px;
}

.section-recetas {
  padding: 30px;
  width: 50%;
}

.video-container,
.section-video {
  flex: 1 1 50%;
}

.video {
  max-width: 100%;
}

@media (max-width: 1020px){

}

@media (max-width: 920px) {
.fondo{
  background-position: bottom right;
}
.section-recetas_container {
  margin: 20px 0;
}

.section-recetas {
  padding: 10px;
  width: 100%;
}

.video-container,
.section-video {
  flex: 1 1 100%;
}

.section-video {
  margin-left: 0;
}

.video-container {
  width: 100%;
}
}

@media (max-width: 620px) and (orientation: portrait)  {

}
