/* ESTILOS DEL HERO */
.hero {
  display: flex;
  padding-bottom: 20px;
}

.hero-img_container {
  padding: 0 10px;
  max-width: 25%;
}

.hero-img {
  max-width: 100%;
}

.section-history_container {
  background-image: url(../img/recetas/cupcake.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right;
}

.section-history {
  padding: 30px;
  width: 50%;
}

.video-container {
  width: 50%;
}

.video {
  width: 100%;
}

@media (max-width: 920px) and (orientation: portrait) {
.section-history {
  width: 100%;
}
.video-container {
  width: 100%;
}
}
