.icon-section_container {
  /* background-image: url(../img/fondo.jpg);
  border: 1px groove snow; */
  margin: 10px;
  padding: 50px;
}

.icon-section_img {
  padding-bottom: 20px;
  width: 150px;
}

.icon-section_img:hover {
  transform: rotateZ(45deg);
  transition:  all 0.5s ease-out;
}

.information-section_container {
  background-image: url(../img/postres.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.information-section {
  padding: 30px;
  width: 50%;
}

@media (max-width: 720px) and (orientation: portrait) {
.icon-section_img {
  width: 80px;
}

.icon-section_container {
  padding: 10;
}

.information-section {
  padding: 30px;
  width: 90%;
}

}

@media (max-width: 1020px){

}

@media (max-width: 920px) {
.information-section {
  padding: 20px;
  width: 80%;
}
}

@media (max-width: 620px) and (orientation: portrait)  {

}