/* ESTILOS DEL SLIDER */

.welcome {
  background-image: url(../img/slider/background.jpg);
  display: flex;
  flex-wrap: wrap;
}

.welcome-section_list {
  height: 600px;
  display: flex;
  position: relative;
  width: 50%;
}

.welcome-img {
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease-out;
  top: 0;
  right: 0;
  width: 800px;
}

.welcome-section input[type="radio"] {
  margin: 10px;
  position: relative;
  z-index: 100;
}

.welcome-section input[type="radio"]:checked ~ .welcome-img {
  opacity: 1;
}

.welcome-text {
  padding: 50px;
  width: 50%;
}

.welcome-text_title {
  font-size: 50px;
  margin-bottom: 30px ;
}

.welcome-text-paragraph {
  margin-bottom: 10px;
  padding: 10px;
}

@media (max-width:600px) and (orientation: landscape) {

}

@media (max-width: 920px) and (orientation: portrait) {
.welcome-section_list {
  width: 100%;
}
  .welcome-img {
  width: 500px;
}
  .welcome-text {
  width: 100%;
}
}